{
  "plugins": [
    "react-hot-loader/babel",
    "babel-plugin-transform-es3-member-expression-literals",
    "babel-plugin-transform-es3-property-literals",
  ],
  "presets": [
    "react", [ "env", { "modules": false }], "stage-0", "stage-1"
  ],
  "compact": true
}

