[Unit]
Description=sonken server
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/node /home/app/work/sonken/src/ssr.node.js
ExecStart=/usr/bin/node /home/app/work/sonken/src/api.node.js
ExecStart=/usr/bin/node /home/app/work/sonken/src/job.node.js
WorkingDirectory=/home/app/work/sonken
KillMode=process
Restart=always
User=app
Group=wheel

[Install]
WantedBy=multi-user.target
